h1, h2, h3, h4 {
    font-family: 'Overpass', sans-serif;
}

p, input {
    font-family: 'Roboto', sans-serif;
}

.min-height-10 {
    min-height: 10rem;
}

.max-w-30 {
    max-width: 30rem;
}

.w-30 {
    width: 30rem;
}

@media (min-width: 900px){
    .grow {
    transition: all .2s ease-in-out;
    }   

    .grow:hover {
    transform: scale(1.2);
    }
}